.button {
    color: white;
    background-color: $main-red;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    width: 150px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        border: 1px solid white;
    }

    &_contacts {
        margin-top: 3px;
    }

    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 66px;
    }

    &_client-form, &_modal {
        margin-top: 20px;
        width: 300px;
        height: 55px;
        font-size: 16px;
        &:hover {
            border: 1px solid black;
        }
    }

    &_product-card {
        width: 131px;
        height: 40px;
        font-size: 14px;
        &:hover {
            border: 1px solid black;
        }
    }


}

@media (max-width: 991px) {
    .button {
        &_product-card {
            height: 35px;
            width: 110px;
        }
    }
}

@media (max-width: 767px) {
    .button {
        &:hover {
            border: none;
        }
    }
}

@media (max-width: 575px) {
    .button {
        &_modal {
            font-size: 14px;
            width: 100%;
        }
        &_contacts {
            width: 130px;
        }
        &_main {
            width: 250px;
            margin-top: 40px;
        }
        &:hover {
            border: none;
        }
    }
}