.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;

    a {
        display: block;
    }

    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }

    &__official {
        color: #ffffff;
        text-align: center;
    }

    &__upper-text {
        font-size: 12px;
        font-weight: 500;
    }

    &__lower-text {
        font-size: 18px;
        font-weight: 700;
    }

    &__contacts {
        a {
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
            &:link, &:visited {
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 180px;
        }
        
        &__upper-text {
            font-size: 11px;
        }

        &__lower-text {
            font-size: 14px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            width: 140px;
        }
        
        &__official {
            display: none;
        }

        &__contacts {
            a {
                font-size: 11px;
            }
        }
    }

    .button {
        &_contacts {
            width: 130px;
        }
        &_main {
            width: 250px;
            margin-top: 40px;
        }
    }
}