@import '../base/variables';
@import 'general';
@import 'media';

* {
    font-family: 'Museo Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 945px;
    margin: 0px auto;
}
@import 'promo';
@import 'header';
@import 'button';
@import 'advantages';
@import 'title';
@import 'red';
@import '../base/media';
@import 'consultation';
@import 'forms';