@media (max-width:  991px) {
    .container {
        width: 730px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 530px;
    }
}

@media (max-width: 575px) {
    .container {
        width: 310px;
    }
}