meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title Pulse
link(rel='stylesheet' href=require('../sass/style.scss'))
link(rel='icon' type='image/png' sizes='32x32' href=require('../img/icons/favicon-32x32.png'))
link(rel='icon' type='image/png' sizes='16x16' href=require('../img/icons/favicon-16x16.png'))
meta(name='theme-color' content='#ffffff')
body