@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/MuseoSansCyrl-300.woff");
    src: url("../fonts/MuseoSansCyrl-300.woff")format("woff"),
    url("../fonts/MuseoSansCyrl-300.woff2") format("woff2");
    font-weight: 300;
  }

@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/MuseoSansCyrl-500.woff");
    src: url("../fonts/MuseoSansCyrl-500.woff")format("woff"),
    url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/MuseoSansCyrl-700.woff");
    src: url("../fonts/MuseoSansCyrl-700.woff")format("woff"),
    url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
    font-weight: 700;
}