.advantages {
    min-height: 470px;
    padding: 70px 0px 80px 0px;
    background-color: #f6f6f6;

    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }

    &__advantage {
        width: 231px;

        img {
            display: block;
            margin: 0px auto;
        }

        h3 {
            margin-top: 30px;
            color: black;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }
        &:nth-child(1) {
            .viewed {
                animation: gobletfall 1s 4;
            }
        }
        &:nth-child(2) {
            .viewed {
                animation: heartbeat 0.5s 8;
            }
        }
        &:nth-child(3) {
            .viewed {
                animation: run 1s 4;
            }
        }
    }

    &__text-descr {
        margin-top: 15px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .advantages {
        min-height: 550px;
        padding: 50px 0px 50px 0px;
        &__advantage {
            width: 160px;
        }
    }
}

@media (max-width: 575px) {
    .advantages {
        min-height: 840px;
        padding: 20px 0px 30px 0px;
        
        &__wrapper {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
        }

        &__advantage {
            margin-top: 15px;
            width: 200px;
            img {
                width: 50px;
            }
        }
    }
}