.product-card {
    position: relative;
    padding: 20px 20px 25px 20px;
    height: 440px;
    width: 300px;
    border: 2px solid #e8e8e8;
    margin: 20px 20px 0px 0px;
    &:nth-child(3n) {
        margin: 20px 0px 0px 0px;
    }

    &__title-content {
        display: none;
    }

    &__title-content-active {
        transition: 0.5s;
        height: 291px;
        display: block;
    }

    img {
        display: block;
        margin: 0 auto;
        height: 200px;
        max-width: 100%;
    }

    &__title {
        margin: 0px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }

    &__descr {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
    }

    &__more, &__back {
        cursor: pointer;
        position: absolute;
        top: 318px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        color: $main-red;
    }

    &__bottom-wrap {
        margin-top: 50px;
        border-top: 1px solid #e8e8e8;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__old-price {
        color: #555555;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        text-decoration: line-through;
    }

    &__new-price {
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        line-height: 20px;
    }

    &__more-content {
        display: none;
    }

    &__more-content-active {
        transition: 0.5s;
        height: 291px;
        display: block;
    }

    &__more-list {
        margin: 0px;
        padding-left: 14px;
        list-style: none;
    }
    &__more-item {
        margin-top: 14px;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        position: relative;
        &:nth-child(1){
            margin-top: 0px;
        }
        &::before {
            content: '';
            display: block;
            height: 5px;
            width: 5px;
            position: absolute;
            left: -17px;
            top: 7px;
            background-color: $main-red;
        }
    }

    &:nth-child(2) {
        animation-delay: 0.2s
    }
    &:nth-child(3) {
        animation-delay: 0.4s
    }
    &:nth-child(4) {
        animation-delay: 0.6s
    }
    &:nth-child(5) {
        animation-delay: 0.8s
    }
    &:nth-child(6) {
        animation-delay: 1s
    }
}

@media (max-width: 991px) {
    .product-card {
        height: 345px;
        width: 235px;
        margin: 20px 12px 0px 0px;
        padding: 10px 10px 15px 10px;

        &__title-content-active {
            height: 280px;
        }

        img {
            height: 150px;
        }

        &__descr {
            margin-top: 4px;
            font-size: 13px;
        }

        &__more, &__more:link, &__more:visited, &__back, &__back:link, &__back:visited {
            top: 256px;
        }

        &__more-content-active {
            height: 280px;
        }

        &__more-item {
            font-size: 13px;
            margin-top: 7px;
        }

        &__bottom-wrap {
            align-items: center;
            margin-top: 0px;
            padding-top: 4px;
        }
        &__old-price {
            font-size: 12px;
        }
        &__new-price {
            font-size: 18px;
        }
    }

    @media (max-width: 767px) {
        .product-card {
            &:nth-child(2n) {
                margin: 20px 0px 0px 0px;
            }
            &:nth-child(3n) {
                margin: 20px 12px 0px 0px;
            }
            &:last-child {
                margin: 20px 0px 0px 0px;
            }
        }
    }

    @media (max-width: 575px) {
        .product-card {
            margin: 0px auto;
            margin-top: 15px;
            &:first-child {
                margin-top: 0px;
            }
            &:nth-child(2n) {
                margin: 0px auto;
                margin-top: 15px;
            }
            &:nth-child(3n) {
                margin: 0px auto;
                margin-top: 15px;
            }
            &:last-child {
                margin: 0px auto;
                margin-top: 15px;
            }
        }

    }
}